@zeeve-platform:registry=https://code.zeeve.net/api/v4/packages/npm/
# Add auth token for the Gitlab scoped package
# //gitlab.com/api/v4/projects/192/packages/npm/:_authToken=<<<access token>>>
//code.zeeve.net/api/v4/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}
//code.zeeve.net/api/v4/projects/125/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}
//code.zeeve.net/api/v4/projects/250/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}
//code.zeeve.net/api/v4/projects/203/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}
//code.zeeve.net/api/v4/projects/285/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}
